@charset "UTF-8";
/**
 *	Table Of Content
 *
 *	1. Rating
 *	2. Testimonial
 *	3. About Me
 *	4. Custom Post
 */

/**
 * 1. Rating
 */
.br-theme-fontawesome-stars .br-widget {
	height: 28px;
	white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
	display: inline-block;
	font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
	font-size: 1.5em;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
	content: '\f27c';
	color: #777777;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after,
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
	content: '\f27d';
	color: #e74563;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
	display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
	cursor: default;
}
@media print {
	.br-theme-fontawesome-stars .br-widget a:after {
		content: '\f27c';
		color: black;
	}
	.br-theme-fontawesome-stars .br-widget a.br-active:after,
	.br-theme-fontawesome-stars .br-widget a.br-selected:after {
		content: '\f27d';
		color: black;
	}
}

/**
 * 2. Testimonial
 */
.page-template-testimonial .cleona-message {
	padding: 20px;
	margin-bottom: 30px;
	background-color: #637382;
	color: #FFFFFF;
	font-weight: 600;
	text-align: center;
	border-radius: 3px;
	text-transform: uppercase;
	line-height: 1.5;
}
.page-template-testimonial form .required {
	color: #e74563;
}
.page-template-testimonial .entry-title,
.page-template-testimonial .entry-content {
	text-align: center;
}
.cleona_testimonial .type-testimonial {
	position: relative;
	padding: 0 0 15px;
	margin: 0 0 15px;
	border-bottom: 1px solid #ECECEE;
}
.cleona_testimonial .cleona-testimonial-slider .type-testimonial,
.cleona_testimonial .type-testimonial:last-child {
	border-bottom: 0;
	margin: 0;
	padding: 0;
}
.cleona_testimonial .br-wrapper {
	position: absolute;
	top: 0;
	right: 0;
}
.cleona_testimonial .entry-header {
	padding-right: 90px;
}
.cleona_testimonial .entry-title {
	margin-bottom: 5px;
}
.cleona_testimonial .headline {
	display: block;
	font-size: .9em;
	color: #777777;
	margin-bottom: 15px;
}
.cleona_testimonial .entry-summary p {
	margin-bottom: 0;
}
.cleona_testimonial .br-theme-fontawesome-stars .br-widget a {
	font-size: 1.2em;
}

/**
 * 3. About Me
 */
.cleona_about_me .widget-title {
	margin: 30px 0;
}
.cleona_about_me  .widget-title:before {
	left: 50%;
	-webkit-transform: translateX( -50% );
	-moz-transform: translateX( -50% );
	transform: translateX( -50% );
}
.cleona_about_me .cleona-widget-about {
	position: relative;
	text-align: center;
}
.cleona_about_me .cleona-widget-about p {
	margin: 30px 0;
}
.cleona_about_me .cleona-widget-about > a {
	margin-top: 30px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .5px;
}

/**
 * 4. Custom Post
 */
.cleona_custom_post .type-post {
	margin-bottom: 10px;
	border-bottom: 1px dashed #ECECEE;
}
.cleona_custom_post .type-post:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}
.cleona_custom_post .entry-image {
	float: left;
	width: 80px;
	margin: 0 10px 10px 0;
}
.cleona_custom_post .entry-title {
	margin-bottom: 5px;
}
.cleona_custom_post .entry-summary {
	overflow: auto;
	margin: 0 0 10px;
}
.cleona_custom_post .entry-summary > a {
	font-size: .9em;
	line-height: 1;
	color: #777777;
}
.cleona_custom_post .entry-summary > a:hover {
	color: #e74563;
}